Capa Presentacion/ReportItemSchemas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" id="ProductoSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Productos" nillable="true" type="Producto" />
	<xs:complexType name="Producto">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Cantidad" type="xs:int" />
			<xs:element minOccurs="0" maxOccurs="1" name="Nombre" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="Descuento" type="xs:decimal" />
			<xs:element minOccurs="1" maxOccurs="1" name="Precio" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
